.SigninForm {
    float: right;
    width: 50%;
    height: 75vh;
    text-align: left;
    padding: 40px 30px;
    overflow: hidden;
}

.SigninImg {
    float: left;
    margin: 30px;
    padding-left: 30px;
    padding-right: 2%;
    width: 40%;
    height: 70vh;
    object-fit: contain;
}

.LoginForm {
    float: right;
    width: 50%;
    height: 75vh;
    text-align: left;
    padding: 40px 30px;
    overflow: hidden;

}

.LoginImg {
    float: left;
    margin: 30px;
    padding-left: 30px;
    padding-right: 2%;
    width: 40%;
    height: 70vh;
    object-fit: contain;
}

.buttonn{
    background-color: #36A9AE;
    background-image: linear-gradient(#37ADB2, #329CA0);
    border: 1px solid #2A8387;
    width: 20%;
}
.buttonn:hover,
.buttonn:focus {
  box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
  transform: translateY(-0.25em);
}

.notesForm {
    display: grid;
    /* grid-template-columns: 1fr 1fr;  */
    gap: 10px;
    width: 40%;
    padding: 20px;
    height: 50%;
}

.notesImg {
    float: left;
    width: 60%;
    height: 60vh;
    object-fit: cover;
}



.cardImg {
    background: url('../images/notecard.png');
    object-fit: cover;
}

div.jalaj {
    word-wrap: "break-word";
}





@media screen and (max-width: 600px) {
    .LoginImg {
        display: grid;
        margin-top: -150px;
        margin-left: -2px;
        width: 95%;
        object-fit:contain;
    }

    .LoginForm {
        display: grid;
        margin-top: -230px;
        width: 100%;
        height: 60vh;
        text-align: left;
        padding: 40px 60px;
        overflow: hidden;
    }
    .buttonn{
        width: fit-content;
    }
    .loginP{
        margin-top: -140px;
    }
    .h2login{
        margin-top: -30px;
    }

    .SigninImg {
        display: grid;
        margin-top: -150px;
        margin-left: -2px;
        width: 95%;
        object-fit:contain;
    }

    .SigninForm {
        display: grid;
        margin-top: -230px;
        width: 100%;
        height: 60vh;
        text-align: left;
        padding: 40px 60px;
        overflow: hidden;
    }

    .signP{
        margin-top: -60px;
    }


    .cardImg {
        background: url('../images/notecard.png');
        object-fit: cover;
    }

    .notesImg {
        display: block;
        width: 100%;
        height: 40vh;
        object-fit:scale-down;
    }
    .notesForm {        
        width: 100%;
        padding: 30px;
        height: 50%;
    }
    
}

